* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(55, 55, 55);
    color: white;
    /* font-family: 'Times New Roman', Times, serif; */
}

.top {
    display: flex;
    justify-content: center;
    background-color: rgb(106, 124, 0);
    margin-bottom: 0px;
}

.titleImg {
    flex-grow: 1;
}

.titleImg img {
    float: right;
}

.title{
    flex-grow: 2;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 3rem;
    padding: 40px 0;
    color: rgb(64, 201, 0);
}

.title p{
    font-size: 2rem;
}

.deal {
    padding: 20px 0;
    background-color: rgb(64, 201, 0);
}

.deal p {
    text-align: center;
}

.largeImage p {
    position: absolute;
    top: 700px;
    left: 300px;
    background-color: gray;
    width: 500px;
    padding: 50px;
    font-size: 1.5rem;
}

.description {
    display: flex;
    justify-content: space-evenly;
}


.middleLeft p {
    
}
